{
	"extends": "eslint:recommended",
	"env": {
		"amd": true,
		"browser": true,
		"jquery": true,
		"node": true,
		"es6": true,
		"worker": true
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"rules": {
		"camelcase": "warn",
		"curly": "warn",
		"eqeqeq": "warn",
		"indent": ["warn", "tab"],
		"no-alert": "warn",
		"no-console": "warn",
		"no-eval": "warn",
		"no-extra-semi": "warn",
		"no-undef": "warn",
		"quotes": ["warn", "single"],
		"semi": "warn"
	}
}