//**********************************************
// Add main colours here. Please try to stick to
// a limited pallette for consistency purposes :)
//**********************************************/
$primary-color: #008000;
$secondary-color: #ff0000;
$tertiary-color: #ffff00;
$grey-color: #505050;
