//**********************************************
// Add main colours here. Please try to stick to
// a limited pallette for consistency purposes :)
//**********************************************/
$primary-color: green;
$secondary-color: red;
$tertiary-color: yellow;
$grey-color: #505050;