// breakpoints
$breakpoint-xl: 1400px;
$breakpoint-lg: 1200px;
$breakpoint-md: 992px;
$breakpoint-sm: 768px;
$breakpoint-xs: 400px;

// grid setup (12 columns only!)
$outer-gutter-width: 30px;
$gutter-width: 50px;
$container-max: 1500px;