$icons: (
	  sprite: (width: 84px, height: 65px, svgPath: '../img/sprites/sprites.svg', pngPath: '../img/sprites/sprites.png'),
 	facebook: (width: 33.5px, height: 64.6px, backgroundX: 0px, backgroundY: 0px),
 	twitter: (width: 50.2px, height: 40.8px, backgroundX: -33.5px, backgroundY: 0px),
);