//**********************************************
// Add main colours here. Please try to stick to
// a limited pallette for consistency purposes :)
//**********************************************/
$primaryColor: green;
$secondaryColor: red;
$tertiaryColor: yellow;
$greyColor: #505050;